html {
  height: 100%;
  background: white;
}

body {
  height: inherit;
  margin: 0;
  background-color: #870f87;
}

img {
  display: block;
  width: 100%;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

@media (orientation: portrait) {
  img {
    height: 100%;
    object-fit: cover;
  }
}
